<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mini_projects.eventreg" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/custom_actionbar_style" >

        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Main"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
        </activity>


        <activity
            android:name=".EventDetails"
            android:label="@string/event" >
            <intent-filter>
                <action android:name="android.intent.action.EVENTDETAILS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Speakers"
            android:label="@string/speakers" >
            <intent-filter>
                <action android:name="android.intent.action.SPEAKERS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Agenda"
            android:label="@string/agenda" >
            <intent-filter>
                <action android:name="android.intent.action.AGENDA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Info"
            android:label="@string/info" >
            <intent-filter>
                <action android:name="android.intent.action.INFO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Twitter"
            android:label="@string/twitter" >
            <intent-filter>
                <action android:name="android.intent.action.TWITTER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
